.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* background: linear-gradient(to right, #9c27b0, #8ecdff); */
    background: linear-gradient(to right,rgb(180, 180, 180), rgb(30, 30, 30));
  }
  
  .home-links {
    font-size: 30px;
    line-height: 60px;
  }
  
  .home-links:hover {
    color: black;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .intro p {
    font-size: 20px;
  }
  
  .information {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
  }
  
  .circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
  }
  
  .overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    border-right: 500px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .hidden-ones {
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .hidden-ones img {
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.6);
  }
  
  /* Desktop View */
  @media screen and (min-width: 1025px) {
    .hidden-ones {
      display: none;
    }
  }
  
   /* Tablet View */
  @media screen and (max-width: 1024px) {
    .overlay,
    .controls,
    .circle,
    .information {
      display: none;
    }
   
   .hidden-links {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  
    .hidden-link{
      padding-right: 20px;
    }
  }
  
  /* Mobile View */
  @media screen and (max-width: 466px) {
    .hidden-ones {
      justify-content: none;
      flex-direction: column;
    }
  
    .hidden-links {
      flex-direction: column;
    }
  
    .main {
      height: 100%;
    }
  }
  
  .feature {
    position: absolute;
    display: flex;
    color: #fff;
  }
  
  .feature div {
    margin-left: 30px;
  }
  
  .feature div p {
    margin-top: 8px;
  }
  
  .one {
    top: 400px;
    right: 50px;
  }
  
  .two {
    top: 100px;
    left: 420px;
    transform: rotate(-90deg);
  }
  
  .three {
    bottom: 420px;
    left: 100px;
    transform: rotate(-180deg);
  }
  
  .four {
    bottom: 150px;
    right: 400px;
    transform: rotate(-270deg);
  }
  @media screen and (max-width: 1130px){
    .one{
      right:150px;
    }
  
    .two{
      top:200px;
    }
  
    .three{
      left:200px;
    }
  
    .four{
      bottom:200px ;
      
    }
  }
  a {
    margin-left: 10px;
    font-size: 21px;
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    /* color: #9c27b0; */
    color: black;
  }
  
  .main--logo {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.8);
  }
  
  .controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .controls h2 {
    margin: 15px 0;
    color: #fff;
  }
  
  .upBtn {
    width: 45px;
    cursor: pointer;
  }
  
  .downBtn {
    width: 45px;
    cursor: pointer;
    transform: rotate(180deg);
  }
  
  .upBtn:hover,
  .downBtn:hover {
    /* background-color: #a240b3; */
    background-color: black;
    border-radius: 10px;
  }